<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a2b1a6c5c9.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="body">
    
<header class="header">
    <div class="caja_logo_barra_busqueda">
    <img class= "header_logo" src="\images\logo-mercado-liebre.svg" width="200" alt="Logo MercadoLiebre">
   
   <form class="barra_busqueda" action=””>
   <input= type=”txt”> <button>Buscar productos, marcas...</button>  
   </form> 
   </div> 
   <h3 class="header_titulo">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito</h3>
 
   <nav class="nav">
    <ul type="none">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>

    <ul type="none">
        <li><a href="">Creá tu cuenta <i class="fa-solid fa-users-viewfinder"></i></a></li>
        <li><a href="">Ingresá <i class="fa-solid fa-arrow-right"></i></a></li>
        <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    </ul>
    </nav>

<div class="icono_menu_hamburguesa">
    <i class="fa-solid fa-bars" style="color:white"></i>
</div>
</header>

<div>
    <img src="./images/img-home-banner.jpg" alt="">
</div>

<main class="main">
<h2>Basado en tu última visita</h2>
 <section class="main_section">
  <div class="caja_articulos_con_imagen">
    <article>
    <img src="\images\img-cafetera-moulinex.jpg" width="250" alt="imagen Cafetera">
        <div class="caja_contenedora_articulos">
        <i class="fa-solid fa-truck-fast"></i>
        <ul type="none">
            <div class="caja_precio_descuento">
            <li class="precio">$6770</li>
            <li class="descuento">40% OFF</li>
            </div>
            <li class="descripcion_articulo">Cafetera Moulinex</li>
    </ul>
    </div>
    </article>
 </div>

 <div class="caja_articulos_con_imagen">
    <article>
        <img src="\images\img-macbook-pro-2019.jpg" width="250" alt="imagen MacBook">
        <div class="caja_contenedora_articulos">
        <i class="fa-solid fa-truck-fast"></i>
        <ul type="none">
            <div class="caja_precio_descuento">
            <li class="precio">$230.000</li>
            <li class="descuento">30% OFF</li>
            </div>
            <li class="descripcion_articulo">McBook Pro</li>
        </ul>
    </div>
    </article>
 </div>

 <div class="caja_articulos_con_imagen">
    <article>
    <img src="\images\img-samsung-galaxy-s10.jpg" width="250" alt="imagen img-samsung-galaxy-s10">
        <div class="caja_contenedora_articulos">
        <i class="fa-solid fa-truck-fast"></i>
        <ul type="none">
            <div class="caja_precio_descuento">
            <li class="precio">$70.500</li>
            <li class="descuento">10% OFF</li>
            </div>
            <li class="descripcion_articulo">Samsung Galaxy S10</li>
        </ul>
    </div>
    </article>
 </div>

 <div class="caja_articulos_con_imagen">
    <article>
        <img src="\images\img-tv-samsung-smart.jpg" width="250" alt="imagen tv-samsung-smart">
        <div class="caja_contenedora_articulos">
        <i class="fa-solid fa-truck-fast"></i>
        <ul type="none">
            <div class="caja_precio_descuento">
            <li class="precio">$23.200</li>
            <li class="descuento">5% OFF</li>
            </div>
            <li class="descripcion_articulo">Samsung Galaxy S10</li>
        </ul>
    </div>
    </article>
 </div>
</section>

<h2>Ofertas</h2>
<section class="main_section">
 <div class="caja_articulos_con_imagen">
    <article>
    <img src="\images\img-cafetera-moulinex.jpg" width="250" alt="imagen Cafetera">
        <div class="caja_contenedora_articulos">
            <i class="fa-solid fa-truck-fast"></i>
            <ul type="none">
                <div class="caja_precio_descuento">
                <li class="precio">$6770</li>
                <li class="descuento">40% OFF</li>
                </div>
                <li class="descripcion_articulo">Cafetera Moulinex</li>
            </ul>
        </div>
        </article>
 </div>
    
 <div class="caja_articulos_con_imagen">
    <article>
        <img src="\images\img-macbook-pro-2019.jpg" width="250" alt="imagen MacBook">
            <div class="caja_contenedora_articulos">
            <i class="fa-solid fa-truck-fast"></i>
            <ul type="none">
                <div class="caja_precio_descuento">
                <li class="precio">$230.000</li>
                <li class="descuento">30% OFF</li>
                </div>
                <li class="descripcion_articulo"> McBook Pro</li>
                </div>
            </ul>
        </div>
        </article>
  </div>

  <div class="caja_articulos_con_imagen">
        <article>
        <img src="\images\img-samsung-galaxy-s10.jpg" width="250" alt="imagen img-samsung-galaxy-s10">
           <div class="caja_contenedora_articulos">
            <i class="fa-solid fa-truck-fast"></i>
            <ul type="none">
                <div class="caja_precio_descuento">
                <li class="precio">$70.500</li>
                <li class="descuento">10% OFF</li>
                </div>
                <li class="descripcion_articulo">Samsung Galaxy S10</li>
            </ul>
        </div>
        </article>
  </div>

  <div class="caja_articulos_con_imagen">
    <article>
        <img src="\images\img-tv-samsung-smart.jpg" width="250" alt="imagen tv-samsung-smart">
            <div class="caja_contenedora_articulos">
            <i class="fa-solid fa-truck-fast"></i>
            <ul type="none">
                <div class="caja_precio_descuento">
                <li class="precio">$23.200</li>
                <li class="descuento">5% OFF</li>
                </div>
                <li class="descripcion_articulo">Samsung Galaxy S10</li>
            </ul>
        </div>
        </article>
     </div>
    </section>
</main>

<footer class="footer">
    <section>
        <i class="fa-solid fa-credit-card"></i>
         <h3>Pagá con tarjeta o en efectivo</h3>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! </p>
    </section>

    <section>
        <i class="fa-solid fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
               <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                   productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section>
        <i class="fa-solid fa-user-shield"></i>
           <h3>Seguridad, de principio a fin</h3>
              <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
    </section>

    <section class="copyright">
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </section>
</footer>
    
</body>
</html>