<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios MercadoLiebre</title>

    <script src="https://kit.fontawesome.com/a2b1a6c5c9.js" crossorigin="anonymous"></script>
    <link href="/css/login.css" rel="stylesheet">
    <link href= "/css/styles.css" rel="stylesheet" >
</head>

<body>
   
/* COPIO MISMO HEADER DEL HOME */

<header class="header">
        <div class="caja_logo_barra_busqueda">
        <img class= "header_logo" src="\images\logo-mercado-liebre.svg" width="200" alt="Logo MercadoLiebre">
       
       <form class="barra_busqueda" action=””>
       <input= type=”txt”> <button>Buscar productos, marcas...</button>  
       </form> 
       </div> 
       <h3 class="header_titulo">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</h3>
     
       <nav class="nav">
        <ul type="none">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    
        <ul type="none">
            <li><a href="">Creá tu cuenta <i class="fa-solid fa-users-viewfinder"></i></a></li>
            <li><a href="">Ingresá <i class="fa-solid fa-arrow-right"></i></a></li>
            <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </nav>
    
    <div class="icono_menu_hamburguesa">
        <i class="fa-solid fa-bars" style="color:white"></i>
    </div>
    </header>

    <main class="login">
            <form action="/" method="post">
                <input type="text" placeholder="Nombre de usuarix" name="nombre_usuario">
                <input type="password" name="password" placeholder="Contraseña">
                <button type="submit" class="boton_ingresar">Ingresar</button>
            </form>
    </main>

    <footer class="footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
             <h3>Pagá con tarjeta o en efectivo</h3>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </p>
        </section>
    
        <section>
            <i class="fa-solid fa-gift"></i>
              <h3>Envío gratis desde $ 2.500</h3>
                   <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                       productos. Es un beneficio de Mercado Puntos.</p>
        </section>
    
        <section>
            <i class="fa-solid fa-user-shield"></i>
               <h3>Seguridad, de principio a fin</h3>
                  <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
        </section>
    
        <section class="copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
        
    </body>
    </html>
    