<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <script src="https://kit.fontawesome.com/a2b1a6c5c9.js" crossorigin="anonymous"></script>
    <link href="/css/register.css" rel="stylesheet">
    <link href= "/css/styles.css" rel="stylesheet" >
</head>

<body>
   
/* COPIO MISMO HEADER DEL HOME */

<header class="header">
        <div class="caja_logo_barra_busqueda">
        <img class= "header_logo" src="\images\logo-mercado-liebre.svg" width="200" alt="Logo MercadoLiebre">
       
       <form class="barra_busqueda" action=””>
       <input= type=”txt”> <button>Buscar productos, marcas...</button>  
       </form> 
       </div> 
       <h3 class="header_titulo">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</h3>
     
       <nav class="nav">
        <ul type="none">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    
        <ul type="none">
            <li><a href="">Creá tu cuenta <i class="fa-solid fa-users-viewfinder"></i></a></li>
            <li><a href="">Ingresá <i class="fa-solid fa-arrow-right"></i></a></li>
            <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </nav>
    
    <div class="icono_menu_hamburguesa">
        <i class="fa-solid fa-bars" style="color:white"></i>
    </div>
    </header>

    <main class="register">
        <form action="/" method="post">

            <div class="foto_perfil">
                <div class="boton_foto_perfil">
                    <label for="file" class="archivo_foto">Agregar foto de perfil</label>
                    <input type="file" class="subir_foto" name="file" id="file">
                </div>
            </div>
            
            <input type="text" placeholder="Nombre y Apellido" name="nombre_completo">
            <input type="text" placeholder="Nombre de usuario" name="nombre_usuario">
            <input type="text" placeholder="Email" name="email">
            <label for="dia_nacimiento">Fecha de nacimiento</label><input type="date" name="dia_nacimiento" id="dia_nacimiento">
            <input type="text" placeholder="Domicilio" name="domicilio">
           
            <div class="actividad_a_realizar">
                <div>
                    <label for="vender">Vender</label><input type="radio" value="vender" name="actividad" id="vender">
                </div>
                <div>
                    <label for="comprar">Comprar</label><input type="radio" value="comprar" name="actividad" id="comprar">
                </div>
            </div>
            <div>
                <h4 class="titulo_categorias">Categorias</h4>
                <ul class="listado_categorias">
                    <li><label for="electro">Electro</label><input type="checkbox" value="electro" name="electro"
                    id="electro"></li>
                    <li><label for="moda">Moda</label><input type="checkbox" value="moda" name="moda" id="moda"></li>
                    <li><label for="hogar">Hogar</label><input type="checkbox" value="hogar" name="hogar" id="hogar">
                    </li>
                    <li><label for="jugueteria">Jugueteria</label><input type="checkbox" value="jugueteria"
                    name="jugueteria" id="jugueteria"></li>
                    <li><label for="vidaSana">Vida Sana</label><input type="checkbox" value="vidaSana" name="vidaSana"
                    id="vidaSana"></li>
                </ul>
            </div>
            <input type="password" name="password" placeholder="Contraseña">
            <input type="password" name="confirmar_password" placeholder="Confirmar contraseña">
            <div class="botones_enviar_eliminar">
                <button type="submit" class="boton_registar">Registrar</button>
                <button type="reset" class="boton_borrar">Borrar</button>
            </div>
        </form>
    </main>
    <footer class="footer">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                 <h3>Pagá con tarjeta o en efectivo</h3>
                    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro! </p>
            </section>
        
            <section>
                <i class="fa-solid fa-gift"></i>
                  <h3>Envío gratis desde $ 2.500</h3>
                       <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                           productos. Es un beneficio de Mercado Puntos.</p>
            </section>
        
            <section>
                <i class="fa-solid fa-user-shield"></i>
                   <h3>Seguridad, de principio a fin</h3>
                      <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
            </section>
        
            <section class="copyright">
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </section>
        </footer>
            
    </body>
    </html>