@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* importo fuente */
@import "./normalize.css";


:root{ --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --tamanioCuerposDeTexto: 12px;
    --tamanioTitulares: 24px;
    --tamanioPrecios: 18px;
    --tamanioDescuentos: 16px;
    --tamanioDescripciones: 16px;
    
    /*TIPOGRAFIA*/
    --roboto: "Roboto", sans-serif;
}

/* HOME */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--colorGrisOscuro);
  }

/* BODY */

.body {
    font-family: var(--roboto);
    font-weight: bold;
    color: var(--colorGrisOscuro);
        }

.imagen_header {
    width:100%;
}

.li {
    list-style: none;
  }

/* HEADER */

.header.header{
    background-color: var(--colorAmarillo);
    padding: 15px;
    flex-wrap:wrap;}

.header ul {
        margin-bottom: 15px;
      }

.caja_logo_barra_busqueda {
        display: flex;
        gap: 10px;
    }

.barra_busqueda {
    width: 50%;
    display:flex;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    }

.barra_busqueda input {
    width: 80%;
    height: 20px;
    border: none;
    font-size: 0.7rem;
    background-color: transparent;
    padding-left: 5px;
      }

.barra_busqueda button {
    font-size: 10px;
    padding:2px;
}

.header_logo{
    width: 50%;
    padding: 10px;
}

.header_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: var(--tamanioCuerposDeTexto);
    margin: 15px;
}

.nav {
    display: none;
    font-size: var(--tamanioCuerposDeTexto);
    text-decoration: none;
    color: var(--colorGrisOscuro);
}

.icono_menu_hamburguesa {
    text-align: center;
    width: 25px;
    margin: auto; 
    background-color: var(--colorCeleste); 
}

/*MAIN*/

.main{
    margin: 0;
    width: 100%;
    background-color: var(--colorGrisClaro);
    }

.banner{
    width: 100%;
}

.main h2 {
    font-size: var(--tamanioPrecios);
    margin: 20px;
    font-weight: 3000;
    }

.main_section {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    margin: 0 auto; 
    }

.main_section i{
    color: var(--colorVerde);
    margin: 0 20px;
    }

.caja_articulos_con_imagen{
    background-color: var(--colorGrisClaro);
    padding: 15px;
    column-gap: 20px;
    align-self: flex-start; /* para que se despliegue una sola tarjeta al pasar el mouse (hover) */
}

.caja_contenedora_articulos {
    position: relative;
    bottom: 4px;
    border-top: 1px solid #ebebeb;
    padding: 10px;
    background-color: white;
  }

.caja_contenedora_articulos i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px; 
  }

.caja_precio_descuento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.precio {
    padding: 10px;
    font-weight: 4500;
    font-size: var(--tamanioPrecios);
}

.descuento {
    color: var(--colorVerde);
    font-size: 12px;
    font-size: var(--tamanioDescuentos);
}


.descripcion_articulo {
    display: none;
    font-size: var(--tamanioDescripciones);
 }

 .caja_articulos_con_imagen:hover .descripcion_articulo{ 
    display:block; 
    /* al pasar el mouse por arriba de TODA la caja, se muestra (displa block) el "descrpcion_articulo que inicialmente estaba oculto (display none)"*/
} 

.caja_articulos_con_imagen:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


/* FOOTER */

.footer{ 
    text-align: center;
    padding: 50px 15px 15px 15px;
    background-color: white;
        }

.footer i {
    margin-bottom: 10px;
    color: var(--colorCeleste);
    font-size: 2em;
}


.articulo_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.p {
    font-size: var(--tamanioDescripciones);
}

.footer section {
    margin: 20px 20px;
}

.copyright {
    text-align: left;
  }

  /* NAVEGACIÓN TABLET*/

  @media (min-width: 361px) {
  
    .main_section {
        display: flex;
        flex-direction: row;
            }

    .nav.nav {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .nav.nav ul {
        display: flex;
        gap: 10px;
    }

    .caja_logo_barra_busqueda {
        width: 60%;
        margin: 0;
        display: inline-flex;
        justify-content: space-around;
    }
    
    .descripcion_articulo {
        display: none;
        margin-top: 15px;
      }

    .header img {
        flex-grow: 1;
        max-width: 360px;
      }

    .header_titulo {
        display: inline-flex;
        width: 30%;
        vertical-align: bottom;
    }

    .main article {
        background-color: white;
            }

    .main main {
        justify-content: space-around;
    }
 

.icono_menu_hamburguesa {
        display: none;
    }
}

.header {
    padding: 30px;
}

  /* NAVEGACION DESKTOP */

  @media (min-width: 769px) {

.header_titulo {
        font-size: 1rem;
      }
    
.nav.nav {
        gap: 20px;
      }

/* copio las queries de tablet?*/

.main_section {
        display: flex;
        flex-direction: row;
            }

.nav.nav {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

.nav.nav ul {
        display: flex;
        gap: 10px;
    }

.caja_logo_barra_busqueda {
        width: 60%;
        margin: 0;
        display: inline-flex;
        justify-content: space-around;
    }
    
.descripcion_articulo {
        display: none;
        margin-top: 15px;
      }

.header img {
       flex-grow: 1;
        max-width: 360px;
      }

.header_titulo {
        display: inline-flex;
        width: 30%;
        vertical-align: bottom;
    }

.main article {
    background-color: white;
            }

.main main {
        justify-content: space-around;
    }

.icono_menu_hamburguesa {
        display: none;
    }

.cajas_articulos_footer{
        display: flex;
        flex-direction: row;
    }
  }